<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVTUEf2_I2b7fPzIo2i7ytn6J75ElSmko</string>
	<key>GCM_SENDER_ID</key>
	<string>844847865301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moodTunes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>moodtunes-18650</string>
	<key>STORAGE_BUCKET</key>
	<string>moodtunes-18650.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844847865301:ios:fd69da520e435a3c08315c</string>
</dict>
</plist>